html {
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
}

.masthead {
  background-color: #2f2f2f;
  border: 3px solid #2f2f2f;
  background-size: 64px auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.logo {
  text-align: center;
  color: #f2f2f2;
}

.logo:hover {
  color: #8dd5e1;
  text-shadow: 1px 1px 25px #8dd5e1;
}

.nav {
  text-align: center;
  transition: all 250ms ease;
}

.nav a {
  float: left;
  text-decoration: none;
  color: #f2f2f2;
  transition: all 250ms ease;
}

.nav a:hover {
  color: #f05b5e;
  text-shadow: 1px 1px 25px #f05b5e;
}

.nav a:focus {
  color: #f05b5e;
  text-shadow: 1px 1px 25px #f05b5e;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 39em;
  color: #fff;
  padding-top: 4rem;
}

.caps {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

@media only screen and (min-width: 90em) {

  .banner {
    position: relative;
    overflow: hidden;
    max-height: 70em;
    color: #fff;
    padding-top: 4rem;
  }

}

/*Footer*/

.footer {
  background-color: #2f2f2f;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.move:hover {
  transform: translate(0, -.5em);
  transition: all 250ms ease;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
}

.contact {
  text-decoration: none;
  color: #8dd5e1;
}

.contact:hover {
  color: #f05b5e;
  text-shadow: 1px 1px 25px #f05b5e;
}

a {
  text-decoration: none;
  color: #fff;
}

.change {
  color: #2f2f2f;
}

/*Isometric and gif Hover Effect*/

.hover-effect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hover-effect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay {
  opacity: 0;
}

.overlay:hover {
  opacity: 100;
}

.hover-effect img {
  display: block;
  position: relative;
  transition: all 0.4s ease-in;
}

.hover-effect:hover img {
  filter: grayscale(1) blur(3px);
  transform: scale(1.2);
}

.hover-effect h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  background: rgba(240, 91, 94, 0.5);
  color: #fff;
}

/*Motion Graphics Hover Effect*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlayy {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  background: rgba(141,213,225,0.6);
  transform: translatey(-100px);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover img {
  transform: scale(1.2);
  filter: grayscale(1) blur(3px);
}

.hovereffect:hover .overlayy {
  opacity: 1;
}

.hovereffect:hover h2,.hovereffect:hover {
  opacity: 1;
  transform: translatey(0);
}

/*Jumpstart App Hover Effect*/

.hovereffectred {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffectred .overlayred {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
}

.hovereffectred img {
  display: block;
  position: relative;
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffectred h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  background: rgba(240,91,94,0.6);
  transform: translatey(-100px);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffectred:hover img {
  transform: scale(1.2);
  filter: grayscale(1) blur(3px);
}

.hovereffectred:hover .overlayred {
  opacity: 1;
}

.hovereffectred:hover h2,.hovereffectred:hover {
  opacity: 1;
  transform: translatey(0);
}

/*Broadcast and Lockitron Hover Effect*/

.hovereffectblue {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
}

.hovereffectblue .overlayblue {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  transition:all .4s ease-in-out
}

.hovereffectblue img {
  display:block;
  position:relative;
  transition:all .4s linear;
}

.hovereffectblue h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(141,213,225,0.6);
  transform:translatey(-100px);
  transition:all .2s ease-in-out;
}

.hovereffectblue:hover img {
  transform:scale(1.2);
  filter: grayscale(1) blur(3px);
}

.hovereffectblue:hover .overlayblue {
  opacity:1;
}

.hovereffectblue:hover h2,.hovereffectblue:hover   a.info {
  opacity:1;
  transform:translatey(0);
}

.hovereffectblue:hover a.info {
  transition-delay:.2s;
}

/*About Me*/

.about {
  background-color: #fff;
}

.space {
  padding-bottom: 3rem;
}

.spacetop {
  padding-top: 3rem;
}

.white {
  background-color: #fff;
}

.verticallineblue {
  border-left: thick solid #8dd5e1;
  margin-top: 7rem;
}

.verticallinered {
  border-left: thick solid #f05b5e;
  margin-top: 7rem;
}

.red {
  color: #f05b5e;
}

.blue {
  color: #8dd5e1;
}

/*Contact Form*/

.form {
  background-color: #8dd5e1;
  margin-top: 4rem;
}

.seperate {
  color: #fff;
}

.btn {
  color: #8dd5e1;
  background-color: #fff;
  border-color: #8dd5e1;
  transition: all 250ms ease;
}

.btn:hover {
  color: #f05b5e;
  background-color: #fff;
  border-color: #8dd5e1;
  transform: scale(1.1);
  transition: all 250ms ease;
}

.black {
  color: #000;
}
