html {
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
}

.masthead {
  background-color: #2f2f2f;
  border: 3px solid #2f2f2f;
  background-size: 64px auto;
}

.logo {
  text-align: center;
  color: #fff;
}

.logo:hover {
  color: #f05b5e;
  text-shadow: 1px 1px 25px #f05b5e;
}

.nav {
  text-align: center;
  transition: all 250ms ease;
}

.nav a {
  text-decoration: none;
  color: #fff;
  transition: all 250ms ease;
}

.nav a:hover {
  color: #f05b5e;
  text-shadow: 1px 1px 25px #f05b5e;
}

.banner {
  background-image: linear-gradient(rgba(47, 47, 47, 0), rgba(47, 47, 47, 0), rgba(47, 47, 47, .8)), url("../images/placeholder-3by2.svg");
  background-size: cover;
  background-position: center bottom;
  border-bottom: 3px solid #f2f2f2;
}

.banner-content {
  color: #fff;
  padding-top: 300px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

img {
  width: 75%;
  opacity: 100;
}

img:hover {
  opacity: 100;
}

.name {
  filter: contrast(100%) grayscale(0%);
}

.name:hover {
  filter: contrast(100%) grayscale(100%);
  transition: all 250ms ease;
}

h2 {
 opacity: 0;
}

.work-card:hover h2 {
  opacity: 100;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .9);
  background-color: #f05b5e;
  transition: all 250ms ease;
}

.footer {
  background-color: #2f2f2f;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.move:hover {
  transform: translate(0, -.5em);
  transition: all 250ms ease;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
}

.contact {
  text-decoration: none;
  color: #f05b5e;
}

.contact:hover {
  color: #f05b5e;
  text-shadow: 1px 1px 25px #f05b5e;
}

a {
  text-decoration: none;
  color: #fff;
}

.change {
  color: #2f2f2f;
}
