<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Sydney Kardish · Graphic Design Student Portfolio</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
  <link href="{{site.baseurl}}/favicon.png" rel="apple-touch-icon">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700" rel="stylesheet">
</head>
<body>

  <header itemscope itemtype="https://schema.org/WebSite" class="masthead grid grid-middle island-1-2">
      <div class="unit xs-1 s-1 m-1 l-1-4">
        <a href="{{site.baseurl}}/">
        <h1 class="push-0 gutter giga logo">SK</h1>
        </a>
      </div>
      <nav class="nav unit xs-1 s-1 m-1 l-3-4">
        <ul class="list-group-inline push-0">
          <li class="island-1-8">
            <a class="block text-center gutter milli selected" href="{{site.baseurl}}/#mywork">My Work</a>
          </li>
          <li class="island-1-8">
            <a class="block text-center gutter milli selected" href="{{site.baseurl}}/#about">About Me</a>
          </li>
          <li class="island-1-8">
            <a class="block text-center gutter milli" href="{{site.baseurl}}/#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>


  <main>
    {{content}}
  </main>

  <footer class="spacetop">
    <div class="footer pad-t-1-2 pad-b-1-2">
      <div class="gutter-1-2">
        <small class="push-0 micro"> © Sydney Kardish </small>
      </div>
      <div class="unit xs-1 s-1 m-1 l-1-4 pad-t">
      <a class="move inline-block" onclick=" window.open('https://vimeo.com/user71391291/','_blank')">
        <i class="gutter icon i-32">
          <img src="{{site.baseurl}}/images/vimeo.svg" alt="vimeo">
        </i>
      </a>
      <a class="move inline-block" onclick=" window.open('https://www.instagram.com/skardish_design/','_blank')">
        <i class="gutter icon i-32">
          <img src="{{site.baseurl}}/images/instagram.svg" alt="insagram">
        </i>
      </a>
      <a class="move inline-block" href="mailto:sydney@skardish.ca">
        <i class="gutter icon i-32">
          <img src="{{site.baseurl}}/images/email.svg" alt="email">
        </i>
      </a>
    </div>
    </div>
  </footer>

</body>
</html>
